body {
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.list-container {
  min-width: 40%;
  background-color: #fff;
  margin-top: 10vh;  
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .list-container {
    min-width: 60%;
  }    
}  

@media only screen and (max-width: 768px) {
  .list-container {
    min-width: 80%;
  }    
}  

